{% extends 'base.html.twig' %}

{% block additionnal_body_block %}signup-page ls-closed{% endblock %}

{% block content %}
    <div class="signup-box col-xs-12 col-md-4">
        <div class="card">
            <div class="header bg-orange">
                <h2 class="center">
                    Connexion
                </h2>
            </div>

            <div class="body">
                <center>
                    <img src="https://wiki.centrale-marseille.fr/ginfo/_media/logobest.png?w=400&tok=de7747" alt="logo ginfo" class="redimension"/>
                </center>
                    <a class="btn btn-primary btn-block" href="{{ path('user_login') }}">Connexion via un compte My</a><br/>
                <div class="card">

                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form action="{{ path('security_login') }}" method="post">
                        <div class="form-group form-float">
                            <br/>
                            <div class="form-line focused">
                                <input required name="_username" type="text" class="form-control" value="{{ last_username }}">
                                <label class="form-label">Nom d'utilisateur</label>
                            </div>
                        </div>

                        <div class="form-group form-float">
                            <div class="form-line focused">
                                <input required name="_password" type="password" class="form-control">
                                <label class="form-label">Mot de passe</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <center>
                                <button type="submit" class="btn btn-success">Valider</button>
                            </center>
                        </div>
                    </form>
                </div>
                <br/>
                <a href="{{ path('security_registration') }}">Inscription</a><br/>
            </p>

        </div>
    </div>
{% endblock %}