{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% block titre_page %}MyCentraleEmprunts{% endblock %}

{% block content %}
    <div class="signup-box col-xs-12 col-md-6">
        <div class="card">
            <div class="header bg-orange">
                <h2 class="center">
                    {% if add %}
                    Ajouter un nouvel équipement
                    {% else %}
                        Modifier : {{ equipment.name }}
                    {% endif %}
                </h2>
            </div>
            <div class="body">
                {{ form_start(form) }}

                {{ form_row(form.name, {'label': 'Nom de l\'équipement'}) }}
                {{ form_row(form.description) }}
                {{ form_row(form.quantity, {'label': 'Quantité'}) }}
                {{ form_row(form.allowedDays, {'label': 'Durée d\'emprunt par défault'}) }}
                <div class="form-top-text">Photo de l'équipement</div>
                {{ form_row(form.imageFile, {'type':'file'}) }}
                {% if add %}
                        <button type="submit" class="btn btn-success center-block">Ajouter</button>
                {% else %}
                        <button type="submit" class="btn btn-success center-block">Modifier</button>
                {% endif %}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}