{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% block titre_page %}MyCentraleEmprunts{% endblock %}

{% block content %}
    <div class="center-box col-xs-12 col-md-6">
        <div class="card">
            <div class="header bg-orange">
                <h2 class="center">
                    Rendre : {{ equipment.name }}
                </h2>
            </div>
            <div class="body">
                {{ form_start(form) }}

                {{ form_row(form.endedOn, {'label': 'Date de fin de l\'emprunt'}) }}
                {{ form_row(form.remarks) }}

                <center>
                    <button type="submit" class="btn btn-success">Enregistrer</button>
                </center>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}